---
import '../styles/global.css';

const {title, time, place, desc} = Astro.props;
---

<div id="countainer" class="flex flex-col text-white">
    <h1 class="text-xl">{title}</h1>
    <h2>{time}</h2>
    <h2>{place}</h2>
    <p>{desc}</p>
</div>
